// colors

$background: #FFFFFF;
$primaryLight: #266CAE;
$primaryDark: #194A77;
$accentLight: #FFFFFF;
$accentDark: #194A77;
$secondaryLight: #ADDECE;
$secondaryDark: #95D4C0;
$textLight: #FFFFFF;
$textDark: #2D2D2D;
$warningLight: #FF7B7B;

// fontSizes

$h1FontSize: 40px;
$h2FontSize: 36px;
$h3FontSize: 32px;
$h4FontSize: 28px;
$h5FontSize: 24px;
$h6FontSize: 20px;
$pFontSize: 16px;
$aFontSize: 16px;

// fontWeights

$normal: 400;
$medium: 500;
$semiBold: 600;
$bold: 700;

// fontFamily

$fontFamily: 'Inter', sans-serif;