@use '../../utils/styles/variables' as variables;

.week-tile {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border-radius: 8px;
  width: 100%;
  margin: 8px 0;
  max-width: calc(50% - 8px);
  box-sizing: border-box;
  background-color: variables.$primaryDark;
  padding: 24px 32px;

  &__current-state {
    border-radius: 4px;
    box-sizing: border-box;
    font-family: variables.$fontFamily;
    font-style: normal;
    font-size: 12px;
    font-weight: variables.$semiBold;
    margin: 0 0 24px 0;
    padding: 6px 12px;
    text-align: center;

    &--disabled {
      color: variables.$warningDark;
      border: 1px solid variables.$warningDark;
      background-color: #fff2f1;
    }

    &--completed {
      color: #71C5AB;
      border: 1px solid #71C5AB;
      background-color: #F6FBFA;
    }

    &--in-progress {
      color: variables.$primaryDark;
      border: 1px solid variables.$primaryDark;
      background-color: #eaf2fa;
    }
  }

  &__name {
    font-family: variables.$fontFamily;
    font-style: normal;
    font-size: variables.$h4FontSize;
    font-weight: variables.$semiBold;
    color: variables.$textLight;
    margin: 0 0 12px;
  }

  &__progress {
    font-family: variables.$fontFamily;
    font-style: normal;
    font-size: variables.$h6FontSize;
    font-weight: variables.$normal;
    color: variables.$textLight;
    margin: 0 0 32px;
  }

  &__link {
    font-family: variables.$fontFamily;
    font-style: normal;
    font-size: variables.$pFontSize;
    font-weight: variables.$semiBold;
    color: variables.$textDark;
    background-color: variables.$secondaryLight;
    text-align: center;
    text-decoration: none;
    padding: 12px 0;
    width: 100%;
    border: none;
    border-radius: 4px;
    margin: 0;
    

    &:hover {
      cursor: pointer;
      background-color: variables.$secondaryDark;
    }

    &:disabled {
      background-color: variables.$disabled;
      color: variables.$grey;
      cursor: not-allowed;
    }
  }
}
