@use '../../utils/styles/variables' as variables;

.navbar {
  flex-direction: row;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 20px 170px;
  background-color: variables.$primaryLight;

  &__left {
    img {
      width: 240px;
    }
  }

  &__link {
    font-family: variables.$fontFamily;
    font-style: normal;
    font-weight: variables.$medium;
    font-size: variables.$pFontSize;
    line-height: 19px;
    margin: 0 20px 0;
    text-decoration: none;
    color: variables.$secondaryLight;

    &:hover {
      color: variables.$secondaryDark;
    }

    &:last-child {
      margin: 0 0 0 20px !important;
    }
  }
}